/* CSS Style Sheet */

navbar{
  background-color: #4CAF50;
}


ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
  }

li{
  display: inline;
}

li a:hover {
  background-color: #111;
}

.clearfloat{
  clear: none;
}

#searchbar{
  width: 62%;
}

.actualsearch{
  float: left;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;

  margin: -25px 0 0 -25px;
  text-align: center;
  
  align-content: center;
  position: absolute;
  
}